[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "~=2.3.2"
pillow = "~=10.0.0"
aiofiles = "==23.2.1"
aiohttp = "~=3.8.4"
lxml = "~=4.9.2"
tqdm = "==4.66.1"
gevent = "==23.7.0"

[dev-packages]

[requires]
python_version = "3.10"
